@font-face {
    font-family: domain;
    src: url(./domain.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    background-color: #222;
    overflow-x: hidden;
}

html, body{
    height: 100%;
    width: 100%;
}

#page1 {
    height: 140vh;
    width: 100vw;
    background-color: #C4BCB3;
    position: relative;
    overflow: hidden;
}

#nav {
    height: 110px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #222;
}

#nav img {
    height: 29px;
    width: 30%;
}
#nav h5{
    font-size: 20px;
    font-weight: 100;
    width: 30%;
}
#nav i{
    width: 30%;
    text-align: right;
}

#elems {
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;

}
#elem1 {
    width: 30%;
    height: 100%;
}
#elem2 {
    width: 30%;
    height: 100%;
    border-right: 2px solid #595959;
    border-left: 2px solid #595959;
    padding: 20px 60px;
    text-align: center;
}
#elem3 {
    width: 30%;
    height: 100%;
}

#elem1 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
}
#elem3 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
}
#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}
#image-div:hover img{
    scale: 1.1;
}

#elem1 h4{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: canopee;
    color: #1C1C1A;
}
#elem1 h4 span{
    background-color: #CB2C10;
    color: #C4BCB3;
    font-size: 18px;
    font-weight: 100;
    padding: 4px;
    margin-left: 5px;
    border-radius: 5px;
}
#elem1 p{
    font-size: 20px;
    font-family: domain;
    font-weight: 100;
    color: #45423E;
}

#elem3 h4{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: canopee;
    color: #1C1C1A;
}
#elem3 h4 span{
    background-color: #CB2C10;
    color: #C4BCB3;
    font-size: 18px;
    font-weight: 100;
    padding: 4px;
    margin-left: 5px;
    border-radius: 5px;
}
#elem3 p{
    font-size: 20px;
    font-family: domain;
    font-weight: 100;
    color: #45423E;
}

#elem2 h2{
    font-family: canopee;
    font-size: 75px;
    font-weight: 100;
    color: #1C1C1A;
}
#elem2 h3{
    font-family: domain;
    font-size: 40px;
    font-weight: 100;
    color: #2a2826;
    margin: 20px 0;
}
#elem2 h6{
    font-family: domain;
    font-size: 20px;
    font-weight: 100;
    color: #2a2826;
}
#elem2 h6 span{
    font-weight: 400;
    color: #121212;
}

#page1 h1{
    font-size: 550px;
    letter-spacing: -20px;
    font-family: canopee;
    font-weight: 100;
    color: #C5BEB4;
    background: #1C1C1A;
    line-height: 500px;
    width: 96%;
    margin-left: 2%;
}

#page2{
    height: 150vh;
    width: 100%;
    background-color: #C5BEB4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 40px;
    /* overflow: hidden; */
}
#page2-left{
    height: 100%;
    width: 70%;
    padding-right: 40px;
    border-right: 1px solid #595959;
}
#page2-left h2{
    font-size: 100px;
    font-family: canopee;
    font-weight: 100;
    line-height: 110px;
    color: #1C1C19;
}
#page2-left h2 span{
    font-size: 170px;
    font-weight: 600;
}
#page2-left img{
    height: 40%;
    width: 100%;
    object-fit: cover;
    border: 1px solid #1C1C19;
}
#page2-left p{
    font-size: 35px;
    text-align: left;
    font-family: domain;
    color: #252524;
    margin-top: 25px;
    font-weight: 100;
}
#page2-left p span{
    font-family: canopee;
    font-feature-settings: "ss03";
    float: left;
    font-size: 70px;
    line-height: 5vw;
    background-color: #1D1D1B;
    color: #CDC6BE;
    margin: 0.7vw 1vw 1vw 0vw;
    padding: 0.75vw 0.4vw 0.5vw 0.5vw;
}

#page2-right{
    height: 100%;
    /* width: 70%; */
    padding: 0 40px;
}
#page2-right img{
    height: 45%;
    width: 62vw;
    object-fit: cover;
    border: 1px solid #1C1C19;
}
#page2-right h1{
    font-family: canopee;
    font-size: 130px;
    font-weight: 100;
    letter-spacing: -5px;
    color: #1C1C1A;
}

#page3{
    /* height: 400px; */
    position: relative;
    background-color: #C4BCB3;
    overflow: hidden;
}
#page3 h1{
    font-size: 450px;
    font-weight: 100;
    font-family: canopee;
    letter-spacing: -25px;
    width: 72%;
    background-color: #1C1C1A;
    color: #C4BCB3;
    margin-left: 2%;
    padding: 0 20px;
    line-height: 390px;
}
#page3 img{
    height: 400px;
    position: absolute;
    top: 0;
    right: 2%;
}